<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="customer.thewaiapp.com">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".WaiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAqjKSp4CCg51Qu2-2kvsj13euVvoUayVY" />

        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login.LoginActivity" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".SearchAddressActivity" />
        <activity
            android:name=".confirmation.BookingConfirmationActivity"
            android:label="@string/confirm_booking_activity_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".SortFilterActivity" />
        <activity
            android:name=".Login.FillDetailsActivity"
            android:label="@string/label_fill_details" />
        <activity
            android:name=".Address.AddressActivity"
            android:label="@string/label_select_address"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".confirmation.BookingConfirmationActivity" />
        </activity>
        <activity
            android:name=".Address.AddAddressActivity"
            android:label="@string/label_add_address"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Address.AddressActivity" />
        </activity>
        <activity
            android:name=".Order.OrderConfirmActivity"
            android:label="@string/label_order_confirm">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".payment.PaymentActivity" />
        <activity android:name=".Order.OrderHistoryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".Order.OrderDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Order.OrderHistoryActivity" />
        </activity>
        <activity android:name=".Profile.ProfileActivity" />
        <activity android:name=".Login.ForgotPasswordActivity" />
        <activity android:name=".Address.EditAddressActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Address.AddressActivity" />
        </activity>
        <activity android:name=".Profile.EditUserProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Profile.ProfileActivity" />
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".TermsAndConditionsActivity" />
        <activity android:name=".FeedBack.FeedBackFormActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".confirmation.WeightChartWashing" />
        <activity android:name=".confirmation.WeightChartUtensilsActivity" />
        >>>>>>> dd30bc7f2da768e15e299a9650c60c44c52e511e
        <activity android:name=".ProfileUserActivity"></activity>
    </application>

</manifest>